*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(recipebackground.jpg);
}

.service-wrapper{
    padding: 5% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: rgb(4, 52, 83);
    background: linear-gradient(8deg,rgba(8,52,83,1)0%,rgba(0,230,173,1)41%,rgba(41,17,45,1)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.05);
}

h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}

@keyframes anim{
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

.card{
    height: 350px;
    width: 370px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid rgb(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card:after{
    position: absolute;
    content: "";
    top:150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after{
    width: 225%;
    top: -100%;
}

.card i{
    color:#72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card p{
    width: 100%;
    text-align: center;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}

.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}

.card:hover i{
    color: #00ff37;
}

@media screen and (max-width:1200px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:900px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    h1{
        font-size: 3.5rem;
    }
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
nav-links{
    flex: 1;
    text-align: right;
}
nav-links ul,li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav-links ul,li,a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
nav-links ul,li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav-links ul,li:hover::after{
   width: 100%; 
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(recipebackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}